<%- include('./include/head.ejs') %>
<body>
	<main>
        <% if (users.length > 0) { %>
            <h1>Users</h1>
            <ul>
                <% for(let user of users) {%>
                    <li><%= user.name%></li>
                <% } %>
        <% } else { %>
            <h1>there is no users</h1>
        <% }%>
        </ul>
    </main>
</body>
</html>
